{% load static %}
<div id="textViewModal" class="modal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title font-weight-bold text-center">Details</h4>
                <button type="button" class="modal-title close" data-dismiss="modal" aria-label="Close">
                    <span style="color:#9f0e08;">
                        <i class="fas fa-times-circle"></i>
                    </span>
                </button>
            </div>

            <div class="modal-body ">
                <div class="textarea2">
                    <label for="viewtxtarea"> Message </label>
                    <textarea type="textarea" class="form-control form-rounded z-depth-1 inputtxt" id="viewtxtarea"
                              readonly="readonly" rows="3" ></textarea>
                </div>
            </div>

            <div class="modal-footer"></div>
        </div>
    </div>
</div>